<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Add Coment</title>
</head>

<body class="container py-3" style="max-width: 500px;">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h1>Add Coment</h1>
        <a class="btn btn-primary" href="/">Coments</a>
    </div>

    <form action="/add" method="POST">
        <input class="form-control mb-3" type="text" name="name" placeholder="Name" value="<%=body.name%>" required>
        <input class="form-control mb-3" type="text" name="coment" placeholder="Coment" rows="3" value="<%=body.coment%>" required>
        <button class="btn btn-primary w-100 mb-3">Add</button>
    </form>

    <%if(error){%>
        <div class="alert alert-danger alert-dismissible fade show">
            <%=error.message%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <%}%>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous">
    </script>
</body>

</html>